body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { 
    /* width: 500px; Ширина изображения */
    height: 200px; /* Высота изображения */
    background: url('unity-logo-dark.png'); /* Прописываем путь к файлу */
    background-repeat: no-repeat; /* Не повторяем */
    background-size: contain; /*  Размер фона */
    background-position: center; /* Позиция картинкипо центру */
}
#unity-progress-bar-empty { 
    width: 300px; height: 25px; 
    margin-top: 10px; margin-left: 6.5px; 
    background: url('progress-bar-empty-dark.png');
    background-repeat: no-repeat; /* Не повторяем */
    background-size: 300px 20px;
    background-position: center; /* Позиция картинкипо центру */
}
#unity-progress-bar-full { 
    height: 19.5px; 
    margin-right: 3px;
    background: url('progress-bar-full-dark.png');
    background-repeat: no-repeat; /* Не повторяем */
    background-size: 100; /* Размер фона */
    background-position: top 5px left 3px;

    animation-duration: 6s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
      width: 0%;
    }
  
    to {
      width: 90%;
    }
}


#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
